body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1266c0;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #063970;
}

#current-weather, #forecast, #search-history {
    margin-bottom: 20px;
}

#search-history button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #aa9595;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f8f9fab8;
    cursor: pointer;
}

#search-history button:hover {
    background-color: #e2e6ea;
}

img {
    display: block;
    margin: 10px auto;
}